* {
  margin: 0;
}

html {
  box-sizing: border-box;
  background-color: white;
  color: rgb(60, 122, 60);
  padding: 0;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

h1 {
  padding-top: 3rem;
  font-size: 4rem;
}

p {
  font-size: 4rem;
  padding: 1rem 0;
}

button {
  background-color: rgb(96, 161, 204);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  outline: none;
}

button:hover {
  background-color: rgb(68, 87, 194);
  color: white;
}

button:active {
  background-color: rgb(37, 189, 163);

}
